#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define CODE 1
#define NAV  2
#define MOD  3
#define ADJ  4

/ {
    behaviors {
        hml: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <300>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };

        hmr: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <300>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };

        td_bs_pipe: backslash_pipe {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        lock_screen {
            bindings = <&kp LG(LC(Q))>;
            key-positions = <20 31>;
        };

        undo {
            bindings = <&kp LG(Z)>;
            key-positions = <0 9>;
        };

        hypr {
            bindings = <&sk LG(LS(LA(LCTRL)))>;
            key-positions = <5 4>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <25 26>;
        };

        underscore {
            bindings = <&kp UNDERSCORE>;
            key-positions = <24 27>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
           &kp ESCAPE    &kp Z            &kp O            &kp F              &kp Y      &kp V        &kp G              &kp C            &kp L        &kp SLASH
           &hml LCTRL H  &hml LEFT_ALT A  &hml LEFT_GUI E  &hml LEFT_SHIFT I  &kp U      &kp D        &hmr LEFT_SHIFT T  &hmr LEFT_GUI R  &hmr RALT N  &hmr RCTRL S
&kp MINUS  &kp COMMA     &kp Q            &kp J            &kp K              &kp X      &kp B        &kp P              &kp W            &kp M        &kp PERIOD    &kp SEMI
                                          &kp BACKSPACE    &kp SPACE          &kp TAB    &kp LS(TAB)  &kp ENTER          &kp DELETE
            >;
        };

        num_layer {
            bindings = <
        &trans  &kp F7  &kp F8  &kp F9  &kp F10    &trans  &kp N7  &kp N8  &kp N9  &kp N0
        &trans  &kp F4  &kp F5  &kp F6  &kp F11    &trans  &kp N4  &kp N5  &kp N6  &kp COMMA
&trans  &trans  &kp F1  &kp F2  &kp F3  &kp F12    &trans  &kp N1  &kp N2  &kp N3  &kp PERIOD  &trans
                        &trans  &trans  &trans     &trans  &trans  &trans
            >;
        };

        code_layer {
            bindings = <
        &kp FSLH  &kp STAR       &kp MINUS       &kp PLUS         &kp LEFT_BRACE          &kp RIGHT_BRACE        &trans            &kp GRAVE          &kp DOLLAR            &trans
        &trans    &kp HASH       &kp EQUAL       &kp EXCLAMATION  &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS  &kp QUESTION      &kp DOUBLE_QUOTES  &kp PERCENT           &kp BACKSLASH
&trans  &trans    &kp AMPERSAND  &kp UNDERSCORE  &kp LESS_THAN    &kp LBKT                &kp RBKT               &kp GREATER_THAN  &kp SINGLE_QUOTE   &kp LA(LS(NUMBER_2))  &trans         &trans
                                 &trans          &trans           &trans                  &trans                 &trans            &trans
            >;
        };

        nav_layer {
            bindings = <
        &trans          &msc SCRL_UP    &mmv MOVE_UP    &mkp LCLK        &mkp RCLK          &kp PG_UP  &kp HOME  &kp UP    &kp END    &kp DEL
        &msc SCRL_LEFT  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_RIGHT    &kp PG_DN  &kp LEFT  &kp DOWN  &kp RIGHT  &kp INS
&trans  &trans          &msc SCRL_DOWN  &trans          &mkp MB4         &mkp MB5           &trans     &trans    &trans    &kp PSCRN  &kp K_UNDO  &trans
                                        &trans          &kp LSHFT        &kp LCTRL          &trans     &trans    &trans
            >;
        };

        media_layer {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &kp C_VOL_UP  &kp C_NEXT  &kp C_BRI_UP  &trans  &trans
        &trans  &trans  &trans  &trans  &trans    &kp C_MUTE    &kp C_PP    &trans        &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp C_VOL_DN  &kp C_PREV  &kp C_BRI_DN  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans        &trans      &trans
            >;
        };

        sys_layer {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &studio_unlock  &trans        &bt BT_CLR    &bt BT_CLR_ALL  &trans
        &trans  &trans  &trans  &trans  &trans    &trans          &trans        &trans        &trans          &trans
&trans  &trans  &trans  &trans  &trans  &trans    &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3    &bt BT_SEL 4  &bootloader
                        &trans  &trans  &trans    &trans          &trans        &trans
            >;
        };
    };
};

&sk {
    release-after-ms = <2000>;
    quick-release;
};
